/** IMPORTS **/

#pc-wrap {
    #top{
        background: rgb(217, 79, 79);
    }
    .header-main {
        background: rgb(48, 195, 43);

    }
    #footer {
        background: rgb(217, 79, 79);

    }
}